@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
:root {
  /* COLOR */
  --color-white: #fff;
  --color-black: #231815;
  --color-gray-100: #f8f8f8;
  --color-gray-200: #f5f5f2;
  --color-gray-300: #ebeae5;
  --color-gray-400: #e0dfda;
  --color-gray-500: #d0d0cb;
  --color-gray-600: #acaca9;
  --color-gray-700: #999999;
  --color-gray-800: #666666;
  --color-gray-900: #131313;
  --color-primary: #133e35;
  --color-secondary: #ff5835;
  --color-tertiary: #fceea3;
  --color-quaternary: #aad585;
  /* FONT */
  --font-primary: "Zenith", serif;
  --font-secondary: "TheFuture", sans-serif;
  --font-tertiary: "Pretendard", sans-serif;
  --letter-spacing: 0em;
  --letter-spacing-ko: -0.03em;
  --font-size-01: 160rem;
  --font-size-02: 128rem;
  --font-size-03: 100rem;
  --font-size-04: 80rem;
  --font-size-05: 60rem;
  --font-size-06: 48rem;
  --font-size-07: 32rem;
  --font-size-08: 26rem;
  --font-size-09: 76rem;
  --font-size-10: 36rem;
  --font-size-11: 30rem;
  --font-size-12: 30rem;
  --font-size-13: 24rem;
  --font-size-14: 18rem;
  --font-size-15: 15rem;
  --font-size-16: 15rem;
  --font-size-ko-01: 116rem;
  --font-size-ko-02: 106rem;
  --font-size-ko-03: 85rem;
  --font-size-ko-04: 70rem;
  --font-size-ko-05: 55rem;
  --font-size-ko-06: 42rem;
  --font-size-ko-07: 28rem;
  --font-size-ko-08: 25rem;
  --font-size-ko-09: 44rem;
  --font-size-ko-10: 34rem;
  --font-size-ko-11: 28rem;
  --font-size-ko-12: 26rem;
  --font-size-ko-13: 22rem;
  --font-size-ko-14: 18rem;
  --font-size-ko-15: 15rem;
  --font-size-ko-16: 15rem;
  --font-lineheight-01: 148rem;
  --font-lineheight-02: 136rem;
  --font-lineheight-03: 106rem;
  --font-lineheight-04: 86rem;
  --font-lineheight-05: 70rem;
  --font-lineheight-06: 54rem;
  --font-lineheight-07: 38rem;
  --font-lineheight-08: 34rem;
  --font-lineheight-09: 76rem;
  --font-lineheight-10: 52rem;
  --font-lineheight-11: 44rem;
  --font-lineheight-12: 44rem;
  --font-lineheight-13: 38rem;
  --font-lineheight-14: 30rem;
  --font-lineheight-15: 25rem;
  --font-lineheight-16: 25rem;
  --font-lineheight-ko-01: 138rem;
  --font-lineheight-ko-02: 128rem;
  --font-lineheight-ko-03: 100rem;
  --font-lineheight-ko-04: 86rem;
  --font-lineheight-ko-05: 66rem;
  --font-lineheight-ko-06: 56rem;
  --font-lineheight-ko-07: 36rem;
  --font-lineheight-ko-08: 32rem;
  --font-lineheight-ko-09: 58rem;
  --font-lineheight-ko-10: 48rem;
  --font-lineheight-ko-11: 40rem;
  --font-lineheight-ko-12: 40rem;
  --font-lineheight-ko-13: 38rem;
  --font-lineheight-ko-14: 28rem;
  --font-lineheight-ko-15: 24rem;
  --font-lineheight-ko-16: 24rem;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

html {
  font-size: 6.25%;
}

html.safari.desktop {
  font-size: 1px;
}

body {
  box-sizing: border-box;
  max-width: 1920px;
}

.wrap {
  max-width: 1820rem;
  height: 100%;
  position: relative;
}

#header-mobile {
  width: 100%;
  height: 63.333rem;
  position: absolute;
  background: #fff;
}
#header-mobile .header-inner_m {
  max-width: 100%;
  height: 100%;
  margin: 0 16rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-mobile .header-inner_m #logo {
  width: 90rem;
  height: auto;
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-visual {
  width: 100%;
  height: 468.19rem;
  background: cadetblue;
}

.main-best {
  width: 100%;
  height: 1226.32rem;
  background: darkgoldenrod;
}

.main-ingredient {
  width: 100%;
  height: 1888rem;
  background: pink;
}

.main-slogan {
  width: 100%;
  height: 188rem;
  background: burlywood;
}

.main-skincare {
  width: 100%;
  height: 646rem;
  background: darkorchid;
}

.main-brandstory {
  width: 100%;
  height: 361rem;
  background: chocolate;
}

.main-insta {
  width: 100%;
  height: 467rem;
  background: aquamarine;
}

#footer-mobile {
  width: 100%;
  height: 551.67rem;
  background: darkblue;
}

#header-mobile {
  border-bottom: 1px solid var(--color-gray-400);
}
#header-mobile svg {
  fill: var(--color-primary);
  display: block;
}
#header-mobile .search-controller {
  position: absolute;
  top: 20rem;
  right: 80rem;
}
#header-mobile .lang-container {
  position: absolute;
  top: 20rem;
  right: 40rem;
}
#header-mobile .small-menu-controller {
  display: block;
  width: 24rem;
  height: 24rem;
  position: absolute;
  top: 20rem;
  right: 15rem;
  transition: top 0.3s;
}
#header-mobile .small-menu-controller__line {
  display: block;
  width: 20rem;
  height: 2rem;
  position: absolute;
  left: 2rem;
  background: var(--color-primary);
}
#header-mobile .small-menu-controller__line--01 {
  top: 3rem;
}
#header-mobile .small-menu-controller__line--02 {
  top: 11rem;
}
#header-mobile .small-menu-controller__line--03 {
  top: 19rem;
}/*# sourceMappingURL=styles.css.map */