<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="/resources/css/styles.css" />
  </head>
  <body>
    <header id="header">
      <div class="header__inner">
        <h1 id="logo">
          <a href="https://www.innisfree.com/">
            <i class="logo-innisfree"></i>
          </a>
        </h1>
        <!-- #logo -->
        <nav class="menu-container">
          <ul id="menu" class="menu">
            <li class="menu-item--product menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-494">
              <a href="">
                <span>
                  Product
                  <i class="jt-icon"></i>
                </span>
              </a>
              <div class="sub-menu-container">
                <ul class="sub-menu"></ul>
                <div class="sub-menu-banner"></div>
              </div>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-495">
              <a href="">
                <span>
                  Ingredients
                  <i class="jt-icon"></i>
                </span>
              </a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496">
              <a href="">
                <span>
                  Brand Story
                  <i class="jt-icon"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- .sub-menu-banner -->
        </nav>
        <!-- .menu-container -->
        <nav class="side-menu-container">
          <ul id="side-menu" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2081">
              <a href="">
                <span>
                  Community
                  <i class="jt-icon"></i>
                </span>
              </a>
              <ul class="sub-menu"></ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-497">
              <a href="">
                <span>
                  Help
                  <i class="jt-icon"></i>
                </span>
              </a>
              <ul class="sub-menu"></ul>
            </li>
          </ul>
        </nav>
        <!-- .manu-container -->
        <div class="search-controller">
          <a class="search-controller__btn" href="#search-modal">
            <span class="sr-only">검색창 열기</span>
            <i class="jt-icon"></i>
          </a>
          <!-- .search-controller__btn -->
        </div>
        <!-- .search-controller -->
        <div class="lang-container">
          <a class="lang-menu-btn" href="#lang-menu">
            <i class="jt-icon"></i>
          </a>
          <ul id="lang-menu" class="lang-menu"></ul>
          <!-- .lang-menu -->
        </div>
        <!-- .lang-container -->
      </div>
      <!-- .header__inner -->
      <!-- #small-menu-controller -->
      <!-- .small-menu-container  -->
    </header>
  </body>
</html>
