html {
    font-size: 6.25%;
}
html.safari.desktop {
    font-size: 1px;
}

body {
    box-sizing: border-box;
    max-width: 1920px;
}

.wrap {
    max-width: 1820rem;
    height: 100%;
    position: relative;
}

// @mixin mobile {
//     @media (max-width: (540px)) {
//     }
// }

// @mixin desktop {
//     @media (min-width: $breakpoint-md) {
//         margin: 0 auto;
//     }
// }
