// 서브페이지
// @mixin desktop {
//     @media (min-width: $breakpoint-md) {
//         .logo-innisfree {
//             display: none;
//             svg {
//                 fill: var(--color-primary);
//             }
//         }

//         .nav-left {
//             li {
//                 a {
//                     text-decoration: none;
//                     color: var(--color-primary);
//                     font-size: var(--font-size-14);
//                     font-weight: 500;
//                     line-height: var(--font-lineheight-14);
//                     font-family: 'Alata', sans-serif;
//                     font-weight: 400;
//                     font-style: normal;
//                     i {
//                         fill: var(--color-primary);
//                     }
//                 }
//             }
//         }

//         .nav-right {
//             li {
//                 a {
//                     text-decoration: none;
//                     color: var(--color-primary);
//                     font-size: var(--font-size-14);
//                     font-weight: 500;
//                     line-height: var(--font-lineheight-14);
//                     font-family: 'Alata', sans-serif;
//                     font-weight: 400;
//                     font-style: normal;
//                     i {
//                         fill: var(--color-primary);
//                     }
//                 }
//             }
//         }
//     }
// }

#header-mobile {
    border-bottom: 1px solid var(--color-gray-400);
    svg {
        fill: var(--color-primary);
        display: block;
    }

    .search-controller {
        position: absolute;
        top: 20rem;
        right: 80rem;
    }

    .lang-container {
        position: absolute;
        top: 20rem;
        right: 40rem;
    }

    .small-menu-controller {
        display: block;
        width: 24rem;
        height: 24rem;
        position: absolute;
        top: 20rem;
        right: 15rem;
        transition: top 0.3s;
    }

    .small-menu-controller__line {
        display: block;
        width: 20rem;
        height: 2rem;
        position: absolute;
        left: 2rem;
        background: var(--color-primary);
    }

    .small-menu-controller__line--01 {
        top: 3rem;
    }
    .small-menu-controller__line--02 {
        top: 11rem;
    }
    .small-menu-controller__line--03 {
        top: 19rem;
    }
}
